html,
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    color: white;
}
body *{
  color:white;
}
.soocore-header div{
  margin-top: 10%;
  width:100%;
  text-align: center;
  font-size: 6em;
}
.ui-header .ui-title{
	font-size: 6em;
}

.ui-page{
  background-image: url("../res/background.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width:100%;
    height:100%;
}
#kakaoLoginBtn{
	display:none;
	position:absolute;
	top:50%;
	left:10%;
	width:80%;
	height:auto;
}

#sectionListContent{
  margin-top: 2em;
  margin-left: 5%;
  width:90%;
  height: 70em;
  overflow: scroll;
}

#sectionListContent .section-list-li{
	margin:1em;
	border: 1px solid white;
	font-size: 4em;
}

#sectionListContent .section-list-li:hover{
  background-color: rgba(220, 220, 220, 0.1);
  border: 1px solid rgba(220, 220, 220, 0.1);
}
#sectionListContent .section-list-li .section-list-emp-icon{
  width:auto;
  height: 100%;
  vertical-align: middle;
}
#sectionListContent .section-list-li .section-list-div{
  margin-top: 0.2em;
  text-align: center;
  vertical-align: middle;
}


/*PROGRESS BAR*/
#sectionListContent .section-list-li .progress-bar-parent{
  position: relative;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 5%;
  width:90%;
  height:1.5em;
  background-color: rgba(220, 220, 220, 0.35);
  border-radius: 1em;
  font-size: 0.7em;
}
#sectionDetail .progress-bar-parent{
  position: relative;
  padding: 0;
  margin-top: 1.5em;
  margin-bottom: 2em;
  margin-left: 10%;
  width:80%;
  height:1.5em;
  font-size:3.5em;
  background-color: rgba(220, 220, 220, 0.2);
  border-radius: 1.5em;
}

.progress-bar-parent .progress-bar-child{
  font-size: inherit;
  position: absolute;
  top:0px;
  left:0px;
  width:50%;
  height:100%;
  border-radius:inherit;
  background-color: rgba(220, 220, 220, 0.5);
}
.progress-bar-parent .progress-bar-text{
  font-size: inherit;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  text-align: center;
  vertical-align: middle;
}




.ui-content .section-detail-title{
	display:inline-block;
	margin-top:4em;
	width: 100%;
}

.section-detail-title .left, .section-detail-title .right{
  text-align:center;
  width:45%;
  font-size: 4.5em;
}
.section-detail-title .left{
  margin-left: 5%;
  float:left;
}
.section-detail-title .right{
  margin-right: 5%;
  float:right;
}
.section-detail-title img{
  height: 100%;
  width:auto;
  vertical-align: middle;
}
.section-detail-goal{
	padding-top:2em;
	padding-bottom:2em;
	margin-top:3em;
	border-radius:1em;
	width:80%;
	margin-left:10%;
	background-color: rgba(220, 220, 220, 0.2);
}
.section-detail-goal .goal, .section-detail-goal .current{
	display:table;
	width:100%;
}
.section-detail-goal .current{
	margin-top:3em;
}
.section-detail-goal .goal .title, .section-detail-goal .current .title{
	width:40%;
	padding-left:10%;
	font-size:4em;
	text-align:left;
	font-weight:bold;
	display: table-cell;
	vertical-align:middle;
} 
.section-detail-goal .goal .content, .section-detail-goal .current .content{
	width:40%;
	padding-right:10%;
	font-size:3em;
	text-align:right;
	display: table-cell;
	vertical-align:middle;
}
.section-detail-goalGift-content{
	display:inline-block;
	width:80%;
	margin-left:10%;
	margin-top:1.5em;
	font-size:3.5em;
	vertical-align:middle;
	font-weight:bold;
}
.section-detail-goalGift-content img{
	width:auto;
	height:100%;
	vertical-align:middle;
}
.section-detail-goalGift{
	padding:0.3em;
	text-align:center;
	margin-top:1em;
	width:70%;
	margin-left:20%;
	font-size:3.5em;
	border-bottom: 1px solid white;
}
.section-detail-todoList{
	text-align:right;
	margin-top:1em;
	width:70%;
	margin-left:15%;
	font-size:3em;
}

#sectionTodoList .ui-content{
	margin :0;
	padding:0;
	width:100%;
	height:90%;
}
#scroeRecordView{
	margin-left:10%;
	margin-top:20%;
	width:80%;
	height:70%;
	overflow-y:scroll;
	overflow-x:hidden;
	background-color: rgba(220, 220, 220, 0.1);
}
#scroeRecordView .todo-list-date{
	padding:0.3em;
	padding-left:1em;
	font-size:3em;
	width:100%;
	background-color: rgba(220, 220, 220, 0.3);
}
#scroeRecordView .todo-list-content{
	padding-top:1em;
	padding-bottom:1em;
	width:100%;
	font-size:3.3em;
	text-align:center;
	display:table;
	height:auto;
}
#scroeRecordView .todo-list-content:hover{
	background-color:rgba(220, 220, 220, 0.3);
}

#scroeRecordView .todo-list-content .todo{
	padding-left:1em;
	white-space: pre-wrap;
	word-break:break-all;
	max-width:60%;
	display:table-cell;
	width:60%;
	height:100%;
	text-align:left;
	vertical-align:middle;
}
#scroeRecordView .todo-list-content .score{
	white-space: pre-wrap;
	word-break:break-all;
	display:table-cell;
	width:20%;
	vertical-align:middle;
}
#scroeRecordView .todo-list-content .check{
	white-space: pre-wrap;
	word-break:break-all;
	display:table-cell;
	width:20%;
	height:auto;
	vertical-align:middle;
}
.ui-bar.ui-bar-e{
	margin:0.25em;
}
.ui-bar.ui-bar-e.main-grid-content{
	font-size: 4em;
	text-align: center;
	font-weight:bold;
}
.ui-bar.ui-bar-e.main-grid-title{
	text-align: center;
	font-size: 3em;
}

#createPointBtn, #createSectionBtn{
  margin-top: 1em;
  width:100%;
  text-align: center;
	font-size: 4em;
}
#submitScore{
	font-size: 4em;
}

.customPopup{
	background-color:black;
	border: 5px solid gray;
	display:none;
	width:80%;
	height:auto;
	position:absolute;
	top:40%;
	left:10%;
	z-index:1100;
}

.customPopup .question{
	font-size: 4em;
	margin:0.5em;
}

.customPopup .ui-btn{
	font-size: 2.5em;
}

.ui-loader-default{
	margin-left: -4em;
    margin-top: -4em;
	width: 8em;
    height: 8em;
}
.ui-loader .ui-icon-loading{
	 width: 8em;
    height: 8em;
    border-radius:50%;
}
.ui-icon-loading{
	 background-size: 8em 8em;
}

#mainLoading{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	z-index:1000;
	display:none;
}
#mainLoading img{
	position:relative;
	margin-top:50%;
	margin-left:35%;
	width:30%;
	height:auto;
}
.addScore-content{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}
.addScore-content .todo{
	margin-left:7%;
	margin-top:20%;
	width:80%;
	background-color: rgba(220, 220, 220, 0.2);
	padding: 3%;
}
.addScore-content .todo .title{
	margin-top:0.5em;
	font-size:4em;
}
.addScore-content .todo .input{
	font-size:4em;
	line-height:2em;
	width:100%;
	height:8em;
	background-image:url("../res/underline.png");
	background-size:100% 25%;
	background-repeat:repeat-y;
	margin-bottom:0.5em;
}

.addScore-content .point{
	padding:2em;
	margin-left:10%;
	margin-top:8%;
	width:80%;
	}
.addScore-content .point .title{font-size:4em;}
.addScore-content .point .input{
	text-align:center;
	display:inline-block;
	margin-left:30%;
	width:40%;
	background-image:url("../res/underline.png");
	background-size:100% 100%;
	font-size:5em;
	}
.addScore-content .point .substr{
	margin-left:3%;
	width:15%;
	display:inline-block;
	font-size:4em;
	color: rgba(220, 220, 220, 0.6);
}
.point-submit-btn{
	text-align:center;
	margin:0 auto;
	width:4em;
	font-size:2em;
	padding:0.3em;
	margin-top:8%;
	background-color: rgba(220, 220, 220, 0.2);
	border-radius:30px;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

		
.create-section-content{
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	font-size:3.5em;
}
.create-section-content *{
	color: rgba(220, 220, 220, 0.2);
}
.create-section-content .goal-score {
	width:80%;
	margin-left:10%;
	margin-top:10%;
}
.create-section-content .goal-score div{
	display:inline-block;
}
.create-section-content .goal-score .input{
	font-size:1.2em;
	width: 50%;
	background-image:url("../res/underline.png");
	background-size:100% 100%;
	text-align:center;
}
.create-section-content .goal-gift{
	width:80%;
	margin-left:10%;
	margin-top:10%;
}
.create-section-content .goal-gift .input{
	font-size:1.2em;
	margin-left:10%;
	margin-top:5%;
	text-align:center;
	display:inline-block;
	width:80%;
	background-image:url("../res/underline.png");
	background-size:100% 100%;
}
.create-section-content .role{
	width:80%;
	margin-left:10%;
	margin-top:10%;
	display:inline-block;
}
.create-section-content .role .title-content .title{
	float: left;
}
.create-section-content .role .title-content .sub-info{
	height:100%;
	float: right;
	font-size:0.6em;
}
.create-section-content .role .title-content .sub-info img{
	width:auto;
	height:80%;
	vertical-align:middle;
}
.create-section-content .role .title-content .sub-info span{
	background-color:rgba(220, 220, 220, 0.2);
	padding:0.5em;
}

.create-section-content .role .button-content{
	display:inline-block;
	width:100%;
	margin-top:3%;
	text-align:center;
}
.create-section-content .role .button-content div{
	display:inline-block;
	width:2.5em;
	height:2.5em;
	margin-left:5%;
	margin-right:5%;
	border: 10px solid rgba(220, 220, 220, 0.2);
	border-radius:10px;
	background-clip:  padding-box;
}
.create-section-content .role .button-content div img{
	width:100%;
	height:100%;
}
#submitSection{
	padding:0.3em;
	width:60%;
	margin: 0 auto;
	margin-top:10%;
	background-color:rgba(220, 220, 220, 0.2);
	text-align:center;
	border-radius:20px;
	
}

/*invite */
#invite{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background-color:transparent;
	display:none;
	z-index:1100;
}
#invite .invite-content{
	position:absolute;
	top:30%;
	left:0%;
	height:10%;
	width:100%;
	background-color:rgba(220, 220, 220, 1.0);
	text-align:center;
	padding-top:1em;
	padding-bottom:1em;
}
#invite .invite-content div{
	height:100%;
	width:auto;
}
#invite .invite-content div div{
	height:20%;
	color:rgba(110, 110, 110);
	font-size:2em;
}
#invite .invite-content div img{
	height:80%;
	width:auto;
}

#inviteResult{
	font-size:4em;
}
.invite-result-content{
	width:100%;
	height:100%;
}
#inviteKaKaoLoginBtn{
	position:absolute;
	top:50%;
	left:10%;
	width:80%;
	height:auto;
}
.invite-login, .invite-result-ui{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
}

#inviteResult div{
	margin-top:10%;
}
#inviteSubmit{
	padding:0.3em;
	width:50%;
	margin: 0 auto;
	margin-top:10%;
	background-color:rgba(220, 220, 220, 0.2);
	text-align:center;
	border-radius:20px;
}